section {
    width: 85%;
    margin: 40px auto 0 auto;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-section .upper-section-left h1 {
    font-size: 36px;
    color: var(--heading-color);
}

.downer-section {
    display: flex;
    justify-content: space-between;
}

.downer-section .left {
    flex-basis: 48%;
    margin-top: 20px;
}

.downer-section .left .jump {
    margin-top: 16px;
}

/* .downer-section .left form.proper-form div {
    margin-top: 18px;
}

.downer-section .left form.proper-form label {
    font-size: 17px;
} */

.downer-section .right {
    flex-basis: 44%
}

.downer-section .right img {
    width: 100%;
}

.btn img {
    width: 35px;
    position: relative;
    top: 12px;
    left: 10px;
    display: none;
}

@media screen and (max-width: 750px) {
    section {
        width: 90%;
    }
    .downer-section {
        flex-direction: column;
        gap: 40px;
    }
}